.userprof-img-large {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#logoBrand {
  padding-top: 8%;
  background-color: #51458D;
  background-repeat: no-repeat;
  background-position: center;
}

#logoBrand-business {
  padding-top: 8%;
  height: 300px;
  background-color: #51458D;
  background-repeat: no-repeat;
  background-position: center;
}

.prof-info-boxes {
  margin-bottom: 0px;
}

#map {
  width: 100%;
  height: 300px;
}

.xs-h3 {
  color: #FFF;
  font-size: 250%;
  text-align: center;
}

.pb-20 {
  padding-bottom: 20px;
}

.p-2per {
  padding: 2%;
}