.home-page .reseed-btn {
  width: auto;
}

.home-page .name {
  font-size: 20px;
  font-weight: bold;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.mt-58 {
  margin-top: 58px;
}

.e-box {
  position: fixed;
  border-radius: 5px;
  right: 1px;
  top: 90px;
  width: 20%;
  margin-top: -2.5em;
  height: 100%;
  overflow-y: auto;
}

.events-wrap-view {
  cursor: pointer;
}

.frnds-status-info-div img {
  width: 40%;
  border-radius: 50%;
}

.amount-of-users {
  color: #1E90FF;
}

.visible-xs-block {
  border-radius: 5px;
  right: 1px;
  width: 100%;
  overflow-y: auto;
}

.amount-of-microblogs {
  // background-color: #6148a1;
  // color: white;
}

.user-event-box {}

.frnds-status-info-div {
  width: 40%;
  border-radius: 50%;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}